@page
@model IndexModel
@{
    ViewData["Title"] = "TreeningPlatvorm";
}
<style>
body {
    background-image: url("https://wallpaperboat.com/wp-content/uploads/2019/06/nike-basketball-13.jpg"); background-size: initial; background-repeat: repeat; }
</style>
    <div class="text-center" 
     <h1><b style="font-size:70px; color: #8a899a; background-color: white">TREENINGPLATVORM</b></h1>
    <h2><b style="font-size: 40px; color: #C3B1E1; background-color: white">Tere tulemast, kallis spordisõber!</b></h2>
    </div >
    
