@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privaatsusreeglid";
}
<h1>@ViewData["Title"]</h1>

<p>TreeningPlatvorm üldtingimused - Eesmärk 1. Käesolevate Üldtingimuste eesmärgiks on sätestada üldised Klubi Liikmelepingu põhimõtted</p>
