@    using Abc.Pages.Common.Extensions
@model             ServiceForCustomerPage
<body>
    <input type="hidden" asp-for="Item.Id" />

    @Html.DropDown(m => m.Item.ServiceId, Model.ServiceTypes)
    @Html.DropDown(m => m.Item.PersonId, Model.Persons)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)
</body>

